<div >

  <div class="form-group">
    <p >Locatie: {{xy[1] | number:4 }} ° - {{xy[0] | number:4 }} ° </p>

    <div ng-class="description.length < 1 ? 'has-error': 'has-success'" >
    <label for="info-text">Description: </label>
      <textarea   ng-model="description" id="info-text" rows="3">
      </textarea>
    </div>

    <label for="prioritySelect">Priority : </label>
    <select name="prioritySelect" id="prioritySelect" ng-model="priority">
        <option ng-repeat="priorityOption in priorities"
                value="{{priorityOption}}">{{priorityOption}}</option>
    </select>
      <br/>
    <input type="file" id="fileInput" accept="image/*" capture="camera"/>

  </div>

  <hr/>
  <button ng-disabled="description.length < 1" data-ng-click="ok()" >Save</button>
  <button data-ng-click="cancel()">Cancel</button>
</div>
