<div ng-controller="crowdsourceController">

        <div ng-hide="creatingEvent" >
            <p>
               <button href="" class="margin-left margin-top btn-primary"
                       ng-click="creatingEvent = true" ><span translate>new_issue</span></button>
            </p>
            <p><events ></events><p>
        </div>

        <div ng-show="creatingEvent" class="margin-left margin-top" >
            <h4 translate>new_issue</h4>
            <p translate>find_loc</p>
            <p> <button type="button" ng-click="forMyPosition()" class="margin-right" ng-disabled="gettingPosition" >
                <span translate>current_device</span></button> </p>
            <p> <button type="button" ng-click="positionFromMap()" class="margin-right" ng-disabled="gettingPosition" >
                <span translate>click_on_map<span></button> </p>
            <hr/>
            <p>  <button type="button"  ng-click="cancel()" class="margin-right" >
                <span translate>cs_close</span></button> </p>
        </div>

</div>
