<div ng-controller="crowdsourceController">

        <div ng-hide="creatingEvent" >

            <button href="" class="margin-left margin-top btn-primary"
                    ng-click="creatingEvent = true" >Nieuwe melding</button>

            <events ></events>
        </div>

        <div ng-show="creatingEvent" class="margin-left margin-top" >
            <h4>Nieuwe Melding</h4>
            <p>Bepaal de locatie aan de hand van: </p>
            <p> <button type="button" ng-click="forMyPosition()" class="margin-right" ng-disabled="gettingPosition" >
                <span class="fa fa-crosshairs" ></span> De GPS-locatie</button> </p>
            <p> <button type="button" ng-click="positionFromMap()" class="margin-right" ng-disabled="gettingPosition" >
                <span class="fa fa-map-marker" ></span> Prikken op kaart</button> </p>
            <hr/>
            <p>  <button type="button"  ng-click="cancel()" class="margin-right" >
                <span class="fa fa-times-circle" ></span> Sluiten</button> </p>
        </div>

</div>
