<div ng-controller="tracerFormController">

  <div class="form-group">

  <div>
       Appurtenance ID: <strong >{{ rio_nodeMsg }} </strong>
  </div>
   <div>
      <button type="button" class="btn-primary" ng-click="chooseNode()" >
       Start a new trace</button>
       <div class="callout" ng-show="tracingActive" >
         <p>Choose a appurtenance on the map by clicking on it.</p>
       </div>

   </div><br/>

   <div>
     <div> <strong> In what direction do you want to trace: </strong> </div>
      <span class="radio">
        <input type="radio" id="upstream" value="upstream" ng-model="direction"/>
        <label for="upstream" >Upstream </label>
      </span>
      <span class="radio">
        <input type="radio" id="downstream" value="downstream" ng-model="direction"/>
        <label for="downstream" >Downstream</label>
      <span>
    </div>

    <hr/>

    <div style="position: relative; padding-bottom: 15px;" >
      <button type="button" class="btn-primary" style="position: absolute; right: 90px; top: 5px;"
        ng-click="traceclear()" >Clear</button>
      <button type="button" class="btn-primary" style="position: absolute; right: 10px; top: 5px;"
              ng-disabled="!rio_nodeFound" ng-click="tracecommit()" >Execute</button>
    </div>
  </div>

</div>
